.template-controls {
    position:absolute;
    left:0;
    right:0;
    align-items:center;
    display:flex;
    justify-content:space-between;
}



.poster-controls {
    position:absolute;
    left:10px;
    right:10px;
    top:0;
    bottom:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    pointer-events:none;
    z-index: 20;
}



.poster-button {
    position:absolute;
    width:36px;
    height:36px;
    border:none;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0;
    cursor:pointer;
    opacity:0;
    background:var(--button-background);
    transition:
        background .2s ease,
        transform .2s ease,
        opacity .2s ease;
    pointer-events:auto;
    backdrop-filter:blur(10px);
    z-index:30;
}



.poster-button:hover .icon {
    opacity:1;
}


.poster-viewer:hover .poster-button {
    opacity:1;
}


.maximize-button:hover,
.previous-button:hover,
.next-button:hover,
.edit-button:hover,
.zoom-button:hover {
    transform:scale(1.2);
    background:var(--button-hover);
    opacity:1;
}



/* Normal mode buttons */

.maximize-button {
    top:10px;
    right:2px;
}

.close-button {
    display:none;
    top:16px;
    right:16px;
}

.edit-button {
    right:2px;
    bottom:10px;
}

.previous-button,
.next-button {
    position:relative;
}

.zoom-in-button,
.zoom-out-button {
    display:none;
}

.reset-button {
    display:none;
}